

.mainContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.header {
    background: #b9b9b9;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background: #328f5c;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content {
    background: #818181;
    grid-column: 2 / 3;
}

